body {
  background-image: url("background.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Calibri, sans-serif;
}

#player-container {
  text-align: center;
  padding: 30px 50px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  z-index: 20;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 2px solid #7e1a1a;
}

#playmusic {
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #9c1f1f;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#playmusic:hover {
  background-color: #7a1818;
  transform: scale(1.05);
  box-shadow: 0 0 20px #ff4d4d;
}

h1 {
  text-shadow: 0 0 5px #ff4d4d, 0 0 10px rgba(255, 77, 77, 0.5);
}

.music-gif {
  position: fixed;
  width: 30vw;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
  filter: drop-shadow(0 0 15px rgba(59, 3, 3, 0.7));
}

#gif-top {
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("https://media1.tenor.com/m/Yc99UMbsvmgAAAAd/chainsaw-man-chainsaw-man-anime.gif");
}

#gif-bottom {
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("https://media1.tenor.com/m/TYumfXvkaUYAAAAC/denji-dance-chainsaw-man-dance.gif");
  max-height: 20;
}

#gif-left {
  top: 50%;
  left: 8vw;
  transform: translateY(-50%);
  background-image: url("https://media1.tenor.com/m/eWCenKoaQQEAAAAC/chainsaw-man-dance.gif");
}

#gif-right {
  top: 50%;
  right: 8vw;
  transform: translateY(-50%);
  background-image: url("https://media1.tenor.com/m/_-pCdVMq4D4AAAAC/future-devil.gif");
}

.music-active {
  opacity: 1;
  z-index: 10;
}
